{% extends 'usersApp/users_base.html' %}

{% block title %}设置新的密码{% endblock %}

{% block main %}
    <form class="form-center" method="post">
        {% csrf_token %}
        <h3 class="text-center">设置新密码</h3>

        <div class="form-group">
            <label for="{{ form.new_password1.id_for_label }}">新密码:</label>
            {{ form.new_password1 }}
{#            {% if form.new_password1.help_text %}#}
{#                <p>{{ form.new_password1.help_text|safe }}</p>#}
{#            {% endif %}#}
            {{ form.new_password1.errors }}
        </div>
        <div class="form-group">
            <label for="{{ form.new_password2.id_for_label }}">确认新密码:</label>
            {{ form.new_password2 }}
            {% if form.new_password2.help_text %}
                <p>{{ form.new_password2.help_text|safe }}</p>
            {% endif %}
            {{ form.new_password2.errors }}
        </div>
        <button type="submit" class="btn btn-block btn-primary btn-lg">确认</button>
    </form>
{% endblock main %}