{% extends 'usersApp/users_base.html' %}

{% block title %}
    重置密码邮件已发送
{% endblock %}

{% block js %}
    <script>
        $(function () {
            /**
             * 2.0 倒计时返回首页
             **/
            var time = 4;
            var timer = setInterval(redirect_index, 1000);

            function redirect_index() {
                var $time_tip = $('#time-tip');
                if (time > 0) {
                    $time_tip.html(time);
                    time--;
                } else {
                    clearInterval(timer);
                    location.href = "{% url 'blogApp:index' %}";
                }
            }
        })
    </script>
{% endblock js %}


{% block main %}
    <div class="messages-wrap">
        <h1>邮件已发送</h1>
        <p>
            如果该邮件地址已注册，我们将很快发送重置密码的邮件给您。
        </p>
        <p>
            如果您没有收到邮件, 请仔细检查您所输入的邮箱地址是否正确, 并查看邮箱的垃圾分类文件夹。
        </p>
        <div class="text-center">
            <h1 id="time-tip">5</h1>
            <p>秒后自动回到首页</p>
        </div>
        <a class="btn btn-block btn-primary btn-lg" href="{% url 'blogApp:index' %}">立即回到首页</a>
    </div>
{% endblock main %}