{% extends 'blogApp/base.html' %}
{% load staticfiles %}

{% block background-bubble-js %}
    <script src="{% static 'blogApp/js/background-bubble.js' %}"></script>
    <script src="{% static 'blogApp/js/quietflow.min.js' %}"></script>
{% endblock %}

{% block navbar %}
    <li><a class="" href="/">首页<span class="sr-only">(current)</span></a></li>
    <li><a class="" href="{% url 'blogApp:timeline' %}">时间线</a></li>
    <li><a class="navbar-active-a" href="{% url 'blogApp:about' %}">关于</a></li>
{% endblock navbar %}

{% block main %}
    <div class="article-wrap">
        <div class="about-me">
            <blockquote contenteditable="true">
                <img class="img-shadow img-thumbnail" src="{% static 'blogApp/img/saber.jpg' %}" alt="saber">
                <p>
                    本站为个人博客，主要用于记录和分享知识。
                </p>
                <small>
                    steins.gate_@outlook.com
                    <cite title="联系方式"></cite>
                </small>
            </blockquote>
        </div>
    </div>


{% endblock main %}