{% load staticfiles %}
{% load blogApp_tags %}

<!DOCTYPE html>
<html>
<head>

    <!-- meta -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}HuaJi Blog{% endblock %}</title>

    <!-- favicon.ico -->
    <link rel="shortcut icon" href="{% static 'blogApp/img/favicon.ico' %}">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- 代码高亮 -->
    <link rel="stylesheet" href="{% static 'blogApp/css/prism.css' %}">

    <!-- custom css -->
    <link rel="stylesheet" href="{% static 'blogApp/css/blog.css' %}">
    <link rel="stylesheet" href="{% static 'commentApp/css/comment_list.css' %}">

    <!-- JQuery -->
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>

    <!-- Bootstrap js -->
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- 代码高亮 -->
    <script src="{% static 'ckeditor/ckeditor/plugins/prism/lib/prism/prism_patched.min.js' %}"></script>

    <!-- custom js -->
    <script src="{% static 'blogApp/js/blog.js' %}"></script>

    {% block background-bubble-js %}
    {% endblock %}

</head>


<body>

<div class="nav-wrap">
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/" style="color: #fff; font-weight: 500; font-size: 19px">Huaji</a>
            </div>

            <div class="collapse navbar-collapse" id="navbar-collapse-1">
                <ul class="nav navbar-nav">
                    {% block navbar %}

                        <li><a class="navbar-active-a" href="/">首页<span class="sr-only">(current)</span></a></li>
                        <li><a class="" href="{% url 'blogApp:timeline' %}">时间线</a></li>
                        <li><a class="" href="{% url 'blogApp:about' %}">关于</a></li>

                    {% endblock navbar %}

                    {% if request.user.is_authenticated %}
                        <li class="dropdown">
                            <a href="javascript:" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true"
                               aria-expanded="false">{{ request.user.username }} <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'password_change' %}?next={{ request.path }}">修改密码</a></li>
                                <li><a href="{% url 'logout' %}?next={{ request.path }}">注销</a></li>
                            </ul>
                            {% else %}
                        <li><a href="{% url 'login' %}?next={{ request.path }}">登陆</a></li>
                        <li><a href="{% url 'usersApp:register' %}?next={{ request.path }}">注册</a></li>
                    {% endif %}

                </ul>

                <form class="navbar-form navbar-right" method="get" action="{% url 'haystack_search' %}">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control nav-input-search" name="q" placeholder="Search"
                                   required>
                            <span class="input-group-btn">
                            <button type="submit" class="btn btn-success nav-btn-search">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        </div>
                    </div>
                </form>
            </div><!-- collapse -->
        </div><!-- container -->
    </nav>
</div>

{#<div class="jumbotron">#}
{#    <div class="container">#}
{#        <section>#}
{#            <h2>Welcome</h2>#}
{#        </section>#}
{#        <section>#}
{#            <p></p>#}
{#        </section>#}
{#    </div>#}
{#</div>#}

<div class="container min-height">
    <div class="row">
        <main class="main-content col-md-8 clearfix">
            {% block main %}
            {% endblock main %}
        </main>

        {#        <div class="col-md-1 blank-background"></div>#}


        <div class="col-md-4">
            {% block toc %}
            {% endblock toc %}


            <div class="widget new-article">
                <h3>新发布</h3>
                {% get_recent_post as recent_post_list %}
                <ul>
                    {% for post in recent_post_list %}
                        <li>
                            <a href="{{ post.get_absolute_url }}">{{ post.title }}
                                <span class="label label-news">New</span></a>
                        </li>
                    {% empty %}
                        <li>没有新文章</li>
                    {% endfor %}
                </ul>
            </div>

            <div class="widget article-archives" id="toc">
                <h3>归档</h3>
                {% get_archives as date_list %}
                <ul>
                    {% for date in date_list %}
                        <li>
                            <a href="{% url 'blogApp:archives' date.year date.month %}">{{ date.year }}
                                年 {{ date.month }} 月</a>
                        </li>
                    {% empty %}
                        <li>暂时没有归档数据</li>
                    {% endfor %}
                </ul>
            </div>

            <div class="widget article-category">
                <h3>分类</h3>
                {% get_category as category_list %}
                <ul>
                    {% for category in category_list %}
                        <li>
                            <a href="{% url 'blogApp:category' category.pk %}">{{ category.name }}
                                <span class="post-count">&nbsp;{{ category.count_posts }}</span></a>
                        </li>
                    {% empty %}
                        <li>暂时没有分类数据</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="widget article-tag">
                <h3>标签</h3>
                {% get_tags as tag_list %}
                <ul>
                    {% for tag in tag_list %}
                        <li>
                            <a class="label label-info" href="{% url 'blogApp:tags' tag.pk %}">{{ tag.name }}</a>
                        </li>
                    {% empty %}
                        <li>无标签</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="rss">

            </div>
        </div>
    </div>
</div>


<footer>
    <div class="container">
        <ul>
            <li><a href="https://github.com/KaerMorhenXD">Github</a></li>
            <li><a href="{% url 'RSS' %}">Rss</a></li>
            <li></li>
            <li></li>
        </ul>
        <p>© 2018 Copyright. Made with &nbsp;<span class="glyphicon glyphicon-fire" style="color: #fff"></span>&nbsp;Huaji
            blog
        </p>
    </div>
</footer>


<div class="back-to-top btn btn-md" id="back-to-top" title="回到顶部">
    <span class="glyphicon glyphicon-menu-up"></span></div>


</body>
</html>