{% extends 'blogApp/base.html' %}

{% block main %}
    <article class="detail-article">
        <header>
            <h1 class="detail-article-title">{{ post.title }}</h1>
            <br>
            <div class="detail-article-meta">
                <span class="detail-article-category">
                    <a href="{% url 'blogApp:category' post.category.pk %}" title="点击查找该分类下的文章">{{ post.category }}&nbsp;&nbsp;&nbsp;&nbsp;</a>
                </span>
                <span class="detail-article-time pull-right">
                    <time class="detail-article-time" datetime="{{ post.created_time }}">{{ post.created_time.year }}&nbsp;年&nbsp;{{ post.created_time.month }}&nbsp;月&nbsp;</time></span>
                <span class="comments-link"><a href="#comment-area"
                                               title="点击跳转到评论区"><span class="glyphicon glyphicon-comment"></span>&nbsp;{{ comment_set|length }}&nbsp;&nbsp;&nbsp;</a></span>
                <span class="views-count"><span class="glyphicon glyphicon-fire"></span>&nbsp;{{ post.views }}&nbsp;&nbsp;</span>
            </div>
        </header>

        <div class="article-content clearfix">
            {{ post.body|safe }}
        </div>

        <div class="article-footer">
            <span class="detail-article-author pull-right">
                    <a href="{% url 'blogApp:author' post.author.pk %}" title="点击查找作者的其他文章"><span class="glyphicon glyphicon-user"></span>&nbsp;{{ post.author }}</a>
            </span>
        </div>
    </article>

    <div class="comment-area clearfix" id="comment-area">
        {% include 'commentApp/comment_form.html' with post=post %}
        {% include 'commentApp/comment_list.html' with post=post %}
    </div>
{% endblock main %}

{#{% block toc %}#}
{#    <div class="widget article-content">#}
{#        <h3>目录</h3>#}
{#        {{ post.toc|safe }}#}
{#    </div>#}
{#{% endblock toc %}#}
