{% extends 'blogApp/base.html' %}
{% load staticfiles %}

{#{% block background-bubble-js %}#}
{#    <script src="{% static 'blogApp/js/background-bubble.js' %}"></script>#}
{#    <script src="{% static 'blogApp/js/quietflow.min.js' %}"></script>#}
{#{% endblock %}#}

{% block main %}
    <div class="article-wrap">
        {% for post in post_list %}
            <article class="article article-{{ post.pk }}">
                <h2 class="article-title">
                    <a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
                <div class="article-category">
                    <a href="{% url 'blogApp:category' post.category.pk %}">
                        {{ post.category.name }}</a></div>
                <div class="article-excerpt">
                    <p>{{ post.excerpt }}</p></div>
                <div class="article-footer">
                    <span><span class="glyphicon glyphicon-time"></span>
                        &nbsp;{{ post.created_time.year }}年
                        {{ post.created_time.month }}月
                        {{ post.created_time.day }}日&nbsp;&nbsp;</span>
                    <span><span class="glyphicon glyphicon-comment"></span>
                        &nbsp;{{ post.comment_set.count }}&nbsp;&nbsp;</span>
                    <span><span class="glyphicon glyphicon-eye-open"></span>
                        &nbsp;{{ post.views }}&nbsp;&nbsp;</span>
{#                    <span><a href="{% url 'blogApp:author' post.author.pk %}">#}
{#                        {{ post.author }}</a></span>#}
                </div>
            </article>
        {% empty %}
            <div class="no-post"><h2>一篇文章也没有！博主删库跑路了！</h2></div>
        {% endfor %}
    </div>

    <!-- 高大上分页效果 -->
    <div class="pagination">
        <ul>
            {% if first_page %}
                <li><a href="?page=1">1</a></li>
            {% endif %}
            {% if left_show_more %}
                <li><a href="">...</a></li>
            {% endif %}
            {% for left_item in left %}
                <li><a href="?page={{ left_item }}">{{ left_item }}</a></li>
            {% endfor %}

            <li class="current"><a class="current-page" href="javascript:">{{ post_list.number }}</a></li>

            {% for right_item in right %}
                <li><a href="?page={{ right_item }}">{{ right_item }}</a></li>
            {% endfor %}
            {% if right_show_more %}
                <li><a href="">...</a></li>
            {% endif %}
            {% if last_page %}
                <li><a href="?page={{ post_list.paginator.num_pages }}">{{ post_list.paginator.num_pages }}</a></li>
            {% endif %}
        </ul>
    </div>
{% endblock main %}

{#    <canvas id="Quietflow" width="1920" height="1080" style="z-index: -1000; position: absolute; top: 0;"></canvas>#}




