{% extends 'blogApp/base.html' %}
{% load highlight %}

{% block main %}
    {% if query %}
        {% for result in page.object_list %}

            <div class="article-wrap">
                <article class="article article-{{ result.object.pk }}">
                    <h2 class="article-title"><a href="{{ result.object.get_absolute_url }}">
                        {% highlight result.object.title with query html_tag "span" css_class "highlight_me" %}</a>
                    </h2>
                    <div class="article-category">
                        <a href="{% url 'blogApp:category' result.object.category.pk %}">{{ result.object.category.name }}</a>
                    </div>
                    <div class="article-excerpt">
                        <p>{{ result.object.excerpt }}</p></div>
                    <div class="article-content">
                        <p>{% highlight result.object.excerpt with query html_tag "span" css_class "highlight_me" %}...</p>
                    </div>
                    <div class="article-footer">
                        <span>{{ result.object.created_time.year }}年{{ result.object.created_time.month }}月{{ result.object.created_time.day }}日</span>
                        <span> {{ result.object.comment_set.count }}评论</span>
                        {#                    <span> {{ result.object.views }}点击量</span>#}
                        {#                    <span> <a href="{% url 'blogApp:author' result.object.author.pk %}">{{ result.object.author }}</a></span>#}
                    </div>
                </article>
            </div>

        {% empty %}
            <h3>没有搜索到结果！</h3>
        {% endfor %}
        {% if page.has_next or page.has_previous %}
            <nav aria-label="...">
                <ul class="pager">
                    <li>
                        {% if page.has_previous %}
                            <a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">Previous
                        {% endif %}
                        {% if page.has_previous %}
                            </a>
                        {% endif %}
                    </li>
                    <li>
                        {% if page.has_next %}
                            <a href="?q={{ query }}&amp;page={{ page.next_page_number }}">Next
                        {% endif %}
                        {% if page.has_next %}
                            </a>
                        {% endif %}
                    </li>
                </ul>
            </nav>

        {% endif %}
    {% else %}
        <h2>还没输入搜索关键词呢 _(:з)∠)_</h2>
    {% endif %}
{% endblock main %}